.banner-img-container {
	position: relative;
	display: flex;
	border: 1px gray solid;
	background-size: cover;
	height: 320px;
	border-radius: 12px;
}

.header-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem 2rem;
	gap: 1rem;
	border: solid 2px black;
	border-radius: 12px;
	height: auto;
}

.header-h1-title {
	font-size: 50px;
	text-decoration: underline var(--accent-clr);
}

.restaurant-page-header-review {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: fit-content;
	border: solid 2px red;
	padding: 1rem 2rem;
}

.header-review-structure {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.header-stars {
	display: flex;
	align-items: center;
	width: fit-content;
	background-color: black;
	gap: 1rem;
	padding: 0.4rem 1rem;
	color: var(--accent-clr);
	border-radius: 12px;
}

.header-stars h3 {
	color: white;
}

.restaurant-title {
	position: absolute;
	color: white;
	z-index: 2; /* Ensure the title is above the overlay */
	font-size: 58px;
	text-align: center;
	left: 0;
	bottom: 5px;
}
