.menu-holder {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 0;
	margin: 0;
}

.menu-items-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.menu-item-structure {
	position: relative;
	border: solid 1px gray;
	display: flex;
	height: 170px;
	border-radius: 12px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
}

.menu-item-structure:hover {
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.menu-item-details {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 1rem;
	padding: 10px;
}

.item-title {
	font-size: var(--fs-small);
}

.item-details {
	opacity: 0.6;
}

.item-details-price {
	font-weight: var(--fw-heavy);
}

.bottom-info {
	display: flex;
	flex-direction: column;
}

.description {
	font-size: 12px;
}

.menu-item-img-holder {
	display: flex;
	height: 100%;
	width: 40%;
}

.menu-item-img {
	border-radius: 13px;
	height: 100%;
	width: 100%;
}

.add-to-cart-btn {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 30px;
	width: 30px;
	border-radius: 90%;
	background-color: white;
	font-weight: var(--fw-bold);
	font-size: var(--fs-small);
}

.add-menu-item-btn {
	background-color: black;
	color: white;
	padding: 0.5rem 2rem;
	cursor: pointer;
	transition: all 0.2s ease;
}

.add-menu-item-btn:hover {
	background: var(--accent-clr);
	color: black;
}

.owner-edit-btns {
	display: flex;
	flex-direction: column;

	justify-content: center;
	gap: 1rem;
	padding-left: 0.5rem;
}

.item-btn {
	padding: 0.2rem 0.5rem;
}

.edit-menu {
	background-color: var(--accent-clr);
	color: white;
	cursor: pointer;
	transition: all 0.2s ease;
}

.edit-menu:hover {
	background-color: rgb(0, 250, 0);
}

.delete-menu {
	background-color: rgb(184, 53, 38);
	color: white;
	cursor: pointer;
	transition: all 0.2s ease;
}

.delete-menu:hover {
	background-color: rgb(255, 25, 0);
	color: white;
}
