.res-page-structure {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.res-page-info-structure {
	display: flex;
	/* border: solid 2px gray; */
	border-radius: 12px;
}

.res-info-holder {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	height: 100%;
	width: 100%;
}

.restaurant-title {
	padding: 0 0 0 1rem;
	margin-top: 110px;
}
