.res-page-structure {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.res-page-info-structure {
	display: grid;
	height: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 10px 10px;
	/* border: solid 2px gray; */
	border-radius: 12px;
}

.rest-info-box {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.rest-review-box {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.rest-delivery-box {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 3;
}

.restaurant-title {
	padding: 0 0 0 1rem;
	margin-top: 110px;
}

.res-management-button-container{
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
background-color: black;
color: white;
padding: 10px ;
}
.res-page-man-heading{
	font-size: 20px;
}

.res-page-man-btn{
background-color: #04bd64;
padding: 7px 20px;
margin: 0px 10px;
color: white;
font-weight: bolder;
}
