.footer-component {
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1rem 0;
}

.footer-info-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-info-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-ul a {
	color: var(--accent-clr);
	opacity: 1;
	font-size: var(--fs-small);
}

.footer-ul a:visited {
	color: var(--accent-clr);
	opacity: 0.6;
}

.footer-ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}
