.location-form-body {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	background-color: black;
	border-radius: 12px;
	gap: 1rem;
	margin-top: 1rem;
	/* max-width: fit-content; */
}

.location-form-body h2,
label {
	color: white;
}

.location-form-inputs {
	display: flex;
	gap: 1rem;
}
