.review-list-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border: solid 2px gray;
	border-radius: 12px;
	padding: 0.5rem 2rem;
	margin: 1rem 0;
	background-color: black;
}

.review-list-header {
	color: white;
}

.review-list-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.review-structure {
	background-color: white;
	border-radius: 12px;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.review-info-text {
	color: black;
}

.review-stars {
	width: fit-content;

	color: var(--accent-clr);
}

.create-review-button {
	background: var(--accent-clr);
	border-radius: 5px;
	width: 200px;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
	color: white;

}

.delete-button {
	background-color: #ff4d4d;
	height: 30px;
	color: white;
	font-size: 14px;
}

.update-button {
	background-color: #1f456e;
	height: 30px;
	color: white;
	font-size: 14px;
}
