.restaurant-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.restaurant-tile-shape {
	position: relative;
	border: solid 2px gray;
	display: flex;
	border-radius: 12px;
	transition: box-shadow 0.3s ease;
	height: 165px;
	cursor: pointer;
	overflow: hidden;
}

.restaurant-tile-shape:hover {
	box-shadow: 2px 2px 5px gray;
}

.restaurant-image-div {
	border-radius: 12px;
	height: 100%;
	width: 200px;
}

.restaurant-image {
	height: 100%;
	width: auto;
	object-fit: cover;
}

.restaurant-info-text {
	display: flex;
	flex-direction: column;
	width: 70%;
	padding: 1rem;
	gap: 0.4rem;
	background-color: white;
}

.restaurant-info-text h2 {
	font-size: var(--fs-small);
}

.restaurant-info p {
	opacity: 0.6;
}

.restaurant-address {
	opacity: 0.6;
	font-style: var(--ff-primary);
}

.rest-page-desc {
	word-wrap: break-word;
}
