#form-container{

    max-width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;

}



.text-field{
    height: 30px;
    width: 100%;
    margin: 15px 0px;
    }

    textarea{
        height: 100px;
        width: 100%;
        margin: 15px 0px;
        font-size: 20px;
    }

input[type='text']{
    font-size:20px;
}
input[type='number']{
    font-size:30px;
}

.half-size-text-field{
    height: 30px;
    width: 40%;
    margin: 15px 20px 15px 0px ;
    }

.quarter-size-text-field{
    height: 30px;
    width: 20%;
    margin: 15px 20px 15px 0px ;

}

select[multiple]{
    border:0px;
    height: 330px;
    width: 200px;
    font-size: 25px;
    margin-bottom: 10px;
    
}
.hours-heading{
    margin-bottom: 7px;
}

.days-hours-container{
    display: flex;
    justify-content: space-evenly;
}


.time-fields{
    display: flex;
    justify-content: start;
    gap: 10px;
}

select{
    font-size: 23px;;
}

.delivery-time{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    gap: 20px;
    padding: 9px 0px;
    margin-top: 8px;
}

input[type='url']{
    font-size:20px;
    width: 100%;
}

.banner-img-field{
    padding: 20px 0px;
  
}

.banner-img-field h3{
    padding-bottom: 10px;
}

.res-form-submit-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}